@import "tailwindcss";


@keyframes zoom {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
  }
  
  .animate-zoom {
    animation: zoom 8s ease-in-out forwards;
  }
  h1 {
    font-family: 'Bebas Neue'
  }
  .text-li{
     font-family: 'Bebas Neue'
  }
.title-text-under {
  font-family: "Playwrite RO", cursive;
  font-optical-sizing: auto;
   
  
}
 
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animation-1{
 animation: spin 7s linear infinite;
 }
 

  


  @keyframes pulseEffect {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    50% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
    }
  }
  

  .animate-pulse1 {
    animation: pulseEffect 2s ease-out 0s infinite;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
  }
  
  .animate-pulse2 {
    animation: pulseEffect 2s ease-out 6s infinite;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
  }
  
  .animate-pulse3 {
    animation: pulseEffect 2s ease-out 12s infinite;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
  }
  
.bg-image {
  background-image: url('./assets/95733 (1).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}